# ===========================

# Python

# ===========================

**pycache**/
*.py[cod]

# ===========================

# Virtual Environments

# ===========================

.venv/
venv/
env/

# ===========================

# IDE

# ===========================

.vscode/

# ===========================

# Operating System

# ===========================

.DS_Store
Thumbs.db

# ===========================

# Environment Variables

# ===========================

.env

# ===========================

# Logs

# ===========================

*.log
